/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #fff;
	background-color: rgb(250, 244, 235);
	background-color: rgb(243, 224, 194);

	/* background-color: rgb(250, 244, 235); */
	color: #555;
	font-family: "lato", "Arial", sans-serif;
	/* font-weight: 300; */
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
	/* scroll-behavior: smooth; */
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/* -------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------- */

.row {
	width: 1140px;
	/* width: 100%; */
	margin: 0 auto;
}

.row {
	zoom: 1;
	/* For IE 6/7 (trigger hasLayout) */
}

section {
	padding: 80px 0;
	margin: 1%;
}

/* from grid.css */

.span-3-of-3 {
	width: 100%;
}

.span-2-of-3 {
	width: 66.13%;
}

.span-1-of-3 {
	width: 32.26%;
}

.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child {
	margin-left: 0;
}

.span-4-of-4 {
	width: 100%;
}

.span-3-of-4 {
	width: 74.6%;
}

.span-2-of-4 {
	width: 49.2%;
}

.span-1-of-4 {
	width: 23.8%;
}

.row:before,
.row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}

.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}

/* ----------HEADINGS---------- */
h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h2:after {
	content: "";
	width: 100px;
	height: 2px;
	display: block;
	background-color: #e67e22;
	margin: 0 auto;
	margin-top: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

/* ----------ICONS------- */

.icon-big {
	font-size: 350%;
	display: block;
	color: #e67e22;
	margin-bottom: 10px;
}

.icon-small {
	display: inline-block;
	width: 20px;
	text-align: center;
	color: #e67e22;
	font-size: 120%;
	margin-right: 10px;
	line-height: 120%;
	vertical-align: middle;
	margin-top: -1px;
}

/* ----------BUTTONS---------- */
.btn:link,
.btn:visited,
input[type="submit"] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
	background-color: #cf6d17;
	transition: 0.2s;
}

.btn-full:hover,
.btn-full:active {
	border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #cf6d17;
	color: #fff;
}

/* -------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------- */

header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.logo-black {
	display: none;
}

.logo-white {
	display: none;
}

/* -----------------main-navi----------- */

header nav {
	position: relative;
	z-index: 9999;
}

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 10px 0px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
}

/* -------------Mobile navi-------------- */
.mobile-nav-icon {
	float: right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
}

.mobile-nav-icon i {
	font-size: 300%;
	color: #fff;
}

/* -------------Sticky navi-------------- */

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(255, 255, 255, 0.98);
	background: linear-gradient(rgb(235, 216, 188), rgb(238, 228, 215));

	box-shadow: 0 2px 2px #d6d5d5;
	z-index: 9;
	font-weight: 500;
}

.sticky .main-nav {
	margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
	padding: 16px 0;
	color: #555;
}

.sticky .logo {
	display: none;
}
.sticky .logo-black {
	display: block;
	height: 50px;
	width: auto;
	float: left;
	margin: 5px 0;
}

/* -------------------------------------------------- */
/* section-features*/
/* -------------------------------------------------- */
/* .section-features {
  background-color: rgb(250, 244, 235);
} */
.section-features .long-copy {
	margin-bottom: 40px;
}

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	text-align: center;
}
.box {
	padding: 5px;
}

.box p {
	font-size: 90%;
	line-height: 145%;
	text-align: justify;
}

/* -------------------------------------------------- */
/* MEALS*/
/* -------------------------------------------------- */

.section-meals {
	padding: 0;
	margin: 0;
}

.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.meals-showcase li {
	width: 100%;
}

.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.meal-photo img {
	width: 100%;
	height: auto;
	transform: scale(1.25);
	transition: 0.5s;
	opacity: 0.7;
}

.meal-photo img:hover {
	transform: scale(1.05);
	opacity: 1;
}

/* -------------------------------------------------- */
/* How it works! */
/* -------------------------------------------------- */

.section-steps {
	background-color: #f4f4f4;
	background-color: rgba(233, 218, 195, 0.877);
	margin: 0;
}

/* THIS EDITION FOR PUT LINE IN A CENTER FOR VISUEAL */

/* .section-steps h2:after {
  margin-right: 535px;
} */
/* ---------------------------------------- */

.steps-box {
	margin-top: 30px;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
}

.steps-box:last-child {
	text-align: left;
	padding-left: 3%;
	margin-top: 70px;
}

.app-screen {
	width: 40%;
}

.works-step {
	margin-bottom: 50px;
}

.works-step:last-of-type {
	margin-bottom: 80px;
}

.works-step div {
	color: #e67e22;
	font-size: 150%;
	height: 55px;
	width: 55px;
	border: 2px solid #e67e22;
	border-radius: 50%;
	text-align: center;
	display: table;
	float: left;

	padding: 10px;
	/* margin: -5px 25px 5px 0px; */
	margin-right: 25px;
}

.btn-app img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}

/* -------------------------------------------------- */
/* CITIES SECTION*/
/* -------------------------------------------------- */
/* .section-cities {
  background-color: rgb(250, 244, 235);
} */
.box img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-features {
	margin-bottom: 5px;
}

/* ---------LINKS---------- */

.city-feature a:link,
.city-feature a:visited {
	color: #e67e22;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid #e67e22;
	transition: 0.2s;
}

.city-feature a:hover,
.city-feature a:active {
	color: #555;
	border-bottom: 1px solid transparent;
}

/* -------------------------------------------------- */
/* TESTIMONIAL SECTION*/
/* -------------------------------------------------- */

.section-testimonials {
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url("img/back-customers.jpg");
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}

blockquote:before {
	content: "\201C";
	font-size: 500%;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
}

cite {
	font-size: 90%;
	display: block;
	margin-top: 25px;
}

cite img {
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
}

/* -------------------------------------------------- */
/* PRICEING/SIGN UP SECTION*/
/* -------------------------------------------------- */

.section-plans {
	/* background-color: #f7f5f2; */
	background-color: rgba(233, 218, 195, 0.877);
	margin: 0;
}

.plan-box {
	/* background: linear-gradient(rgb(241, 230, 214), rgb(250, 241, 228)); */

	border-radius: 5px;
	width: 90%;
	margin-top: 15px;
	margin-left: 5%;
	box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
	/* background-color: rgb(214, 60, 60); */
	background: linear-gradient(rgb(241, 230, 214), rgb(250, 241, 228));
}

.plan-box div:first-child {
	/* background-color: #fcfcfc; */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}

.plan-box div:last-child {
	border: 0;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.plan-price {
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #e67e22;
}

.plan-price span {
	font-size: 30%;
	font-weight: 300;
}

.plan-price-meal {
	font-size: 80%;
}

.plan-box ul {
	list-style: none;
}

.plan-box ul li {
	padding: 5px 0;
}

/* -------------------------------------------------- */
/* CONTACT FORM SECTION */
/* -------------------------------------------------- */

.section-form {
	width: 100%;
	/* background-color: rgb(250, 244, 235); */
}

.contact-form {
	width: 80%;
	margin: 0 auto;
}

.form-line {
	display: grid;
	grid-template-columns: 30% 1fr 55%;
	font-size: 90%;
	margin: 15px auto;
}

.last-col {
	grid-column: 3 / -1;
}

.form-line label {
	display: inline-block;
	margin-top: 15px;
}

.form-line input,
.form-line select,
.form-line textarea {
	width: 100%;
	margin-top: 10px;

	padding: 7px;
	border-radius: 5px;
	border: 1px solid #ccc;
	grid-column: 3 / -1;
	background: linear-gradient(rgb(241, 230, 214), rgb(250, 241, 228));
}

.form-line .checkbox {
	width: auto;
	margin-top: 19px;
}

textarea {
	/* width: 235px; */
	height: 100px;
}

.submit-btn {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	margin-top: 20px;
}

.submit-btn input {
	letter-spacing: 1px;
}

*:focus {
	outline: none;
	/* removes the border arround the input box when active */
}

/* -------------------------------------------------- */
/* FOOTER SECTION */
/* -------------------------------------------------- */

footer {
	background-color: #333;
	background-color: rgb(12, 15, 44);
	padding: 40px;
	font-size: 80%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	color: rgb(0, 100, 100);
	transition: 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
	color: #cf6d17;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 130%;
}

.social-links li a i {
	transition: 0.2s;
}

.ion-social-facebook:hover {
	color: #3b5998;
}
/*  */
.ion-social-twitter:hover {
	color: #00aced;
}
/*  */
.ion-social-googleplus:hover {
	color: #dd4b39;
}
/*  */
.ion-social-instagram:hover {
	color: #517fa4;
}

/*  */
footer p {
	color: #888;
	color: rgb(0, 100, 100);
	text-align: center;
	margin-top: 20px;
}

/* ======================================== */

footer .row div:first-child {
	width: max-content;
	float: left;
}

footer .row div:last-of-type {
	width: max-content;
	float: right;
}

/* -------------------------------------------------- */
/* jquery effects SECTION */
/* -------------------------------------------------- */

/*.js--wp-1,
.js--wp-2,
.js--wp-3 {
  opacity: 0;
  animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
  opacity: 1;
}

.js--wp-plan-left {
  animation-duration: 1s;
}*/
